

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
/*  background-color: gray;*/
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #225378;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}





/* Styles applies to all screen*/
        body { 
         
            background-color: lightgreen;
            width:96%;
}
                
        /* Styles applies to tablet screen*/
        @media screen and (min-width: 450px) {
/*            body { background-color: greenyellow;}*/
            width:50%;
        }
                
        /* Styles applies to desktop screen and screen and only for printing to printer or non screen reader*/
        @media screen and (min-width: 650px) {
/*           body { background-color: grey;}*/
            width:33%;
        }
            
        
        body {
  margin: 40px;
}



/*
img {
    image-orientation: from-image;
    display:block;
    margin: auto;
    max-width: 300%;
}
*/

<img 
	srcset="images/IMG_5031_small.JPG , 
            images/IMG_5031_large.JPG ,
	        images/IMG_5031_medium.JPG "
	sizes="(min-width: 41.25em) 38.75em,
	       calc(100vw - 2.5em)"
	src="images/IMG_5031_medium.JPG"
	alt="A crazy quilt whose irregular fabric scraps are fit into a lattice of diamonds." />




