 /* Styles applies to all screen*/

 /* Styles applies to all screen*/

/*body { background: url('images/IMG_4863.JPG')}*/

      body { 
            color:darkblue;
         
            background-color: red;}
        P>strong{color:fuchsia;}


ul li {
    font-size: 1m;
    position: relative;
    float: left;
    width: 5%;
    height: 2%;
/*    padding: .65em;*/
    margin: .25em 0;
    text-align: center;
}


 li.active {
    background: #000;
    color: #fff;

}

h1 {
/*    background-color: blue;*/
    padding-top: 10px;  
    background-color: #76A665;
    text-align: center;
   }
        


h2 {
    display: block;
    font-size: 1.5em;
    margin: 10px;
    font-weight: bold;
}
        /* Styles applies to tablet screen*/
        @media screen and (min-width: 500px) {
            body { background-color: greenyellow;}
        }
        p>strong {color:black;}
        
        
        /* Styles applies to desktop screen and screen and only for printing to printer or non screen reader*/
        @media screen and (min-width: 700px) {
           body { background-color: grey;}
        }
        p>strong {color:aqua;
           margin:15px;
         }

    
p {
    display: block;
    margin: 2.5em;
   }




Profile 
 {
       grid-column: 3 ;
		grid-row: 5 / span 4;
/*        grid-gap: 5px;*/
        font-size: 2.5em;
	}
Outline
{
    grid-column: 1;
    grid-row: 1 / span 2;
}
   
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.fonts
{ 
font-size:48px;
color:red;    
content:"\f0e1";
text-align: center;
}


/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
/*    width: 0 auto;*/
  vertical-align: inherit;
}
    

img {
    image-orientation: from-image;
    display:block;
    margin: auto;
    max-width: 300%;
}
    
    <img 
	srcset="images/IMG_5031_small.JPG  310w, 
            images/IMG_5031_large.JPG  1240w,
	        images/IMG_5031_medium.JPG   620w"
	sizes="(min-width: 41.25em) 38.75em,
	       calc(100vw - 2.5em)"
	src="images/IMG_5031_medium.JPG"
	alt="A crazy quilt whose irregular fabric scraps are fit into a lattice of diamonds." />


.svg {
  width: 100%;
  height: auto;
}

You can also set the fill value of a path in CSS, like you would any other attribute.

.svg path {
  fill: #000;
}

.building-flames path {
  fill: #ff0000;
}

<g class="ufo-building-float">
  <g class="building">
    ...
  </g>
  <g class="ufo-big">
    ...
  </g>
  <g class="ufo-small">
    ...
  </g>
</g>

@keyframes ufo-building-float {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-25px)}
  75%  {transform: translateY(25px)}
  100% {transform: translateY(0)}
}

.ufo-building-float {
  animation: ufo-building-float 5s linear infinite;
}

@keyframes ufo-big {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

@keyframes ufo-small {
  0%, 10%  {opacity: 0}
  25%, 85% {opacity: 1}
  100%     {opacity: 0}
}

.ufo-big {
  animation: ufo-big 5s ease infinite;
}

.ufo-small {
  animation: ufo-small 5s ease infinite;
}

<g class="ufo-big">
  <g class="ufo-big-lights">
    <path class="ufo-big-lights-light ufo-big-lights-light--1" d="..."/>
    <path class="ufo-big-lights-light ufo-big-lights-light--2" d="..."/>
    ...
  </g>
</g>

/*Create the keyframe animation.*/

@keyframes ufo-big-lights {
  0%        {fill: #000}
  20%       {fill: #fbcb43}
  40%, 100% {fill: #000}
}

.ufo-big-lights-light {
  animation: ufo-big-lights 2.5s ease infinite;
}

.ufo-big-lights--2 {animation-delay: .2s}
.ufo-big-lights--3 {animation-delay: .4s}
.ufo-big-lights--4 {animation-delay: .6s}
.ufo-big-lights--5 {animation-delay: .8s}

@keyframes building-flames {
  0%   {transform: scale(1, 1)}
  50%  {transform: scale(1, 1.1)}
  100% {transform: scale(1, 1)}
}

.building-flames path {
  fill: #d84437;
  animation       : building-flames .15s ease infinite;
  transform-origin: center top;
}

<svg class="svg ufo-building" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 450 250" enable-background="new 0 0 450 250" xml:space="preserve">
  <g class="ufo-building">
    <path d="M295.7,201.3l-1..."/>
  </g>
  ...
  <image src="ufo-building-static.jpg" class="svg-fallback">
</svg>

