//Susy setup
$susy:(
    columns: 2,
    gutters: 1/2,
    global-box-sizing: border-box
);

wrap {
    @include container (20%);  
}

.features .feature {
    
    @include susy-breakpoint ($medium $large -1)
        &:nth-of-type(even){
            @include last;
            
    }
    
}




@include susy-breakpoint ($large)
        &:last-child{
            @include last;
            
    }