/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
    background: hsl(0, 0%, 90%);
}

.content {
    padding: 2em;
}

@media screen and (min-width: 36em) {
    .single .content {
        max-width: 38em;
        margin: 0 auto;
    }
}
